
<div class="container">
  <form class="mt-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" (change)="fileChangeEvent($event)">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
  </form>
  <div class="bg-dark p-5" style="text-align: -webkit-center; height: 400px">
    <img *ngIf="imageUrl || imageChangedEvent" class="h-100 d-block img-fluid" [src]="base64" alt="">
  </div>
</div>
<picsart-image-editor
  [hideModalHeader]="true"
  [imageChangedEvent]="imageChangedEvent"
  [imageUrl]="imageUrl"
  (imageCropped)="imageCropped($event)"
  imageFormat="png"
  [aspectRatio]="4/3"
  [viewMode]="0"
  [resizeToWidth]="500"
  (sendCroppedImage)="getImage($event)"
  [picsartApiKey]="api"
  [picsartUrl]="picsartUrl"
>
</picsart-image-editor>
